<!DOCTYPE html>
<html>
<head>
	<title>Star Trek Episodes</title>
	<link rel="stylesheet" type="text/css" href="https://bootswatch.com/4/slate/bootstrap.min.css">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script src="https://unpkg.com/vue"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<div id="app">

<div class="container">
	<div class="row">
		<div class="col-12">
			<h1>List of Star Trek Episodes</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			Jump to: <a v-for="season in seasonList" :href="seasonJump(season)" style="padding:1rem;">{{ season }}</a>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			
			<table class="table table-dark">
				<thead>
				<tr>
				  <th scope="col">Series Code</th>
				  <th scope="col">Episode</th>
				  <th scope="col">Title</th>
				  <th scope="col">Air Date</th>
				  <th scope="col">Star Date</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="episode in episodeList" :id="episodeId(episode)">

				  <td>{{ episode.seriesCode }}</td>
				  <td>{{ episode.seasonNumber }} - {{ episode.episodeNumber }}</td>
				  <td>{{ episode.episodeName }}</td>
				  <td>{{ episode.airDate | formatDate }}</td>
				  <td>{{ episode.starDate}}</td>
				</tr>
				</tbody>
			</table>

		</div>
	</div> 
	
	<p>
		This list was made from data avaliable from <a href="https://en.wikipedia.org/wiki/List_of_Star_Trek_episodes">Wikipedia</a>.
	</p>

	<p>
		Feel free to contribute: <a href="https://github.com/BradKriss/star-trek-episode-list">GitHub</a> 
	</p>

</div>

</div>
<script src="app.js"></script>
</body>
</html>


